/*
The styles in this stylesheet only apply to resolutions 768px and up

CALCULATING DIMENSIONS:
----------------------
The layout is fluid. The sote wrapper (.col-full) has a fixed pixel max-width.
All subsequent dimensions are calculated based on that fixed pixel width, using the formula: target / context = result
Credit - http://www.alistapart.com/articles/fluidgrids/

-----
INDEX
-----

1. Global dropdown styles
2. Top Navigation
3. Main navigation dropdown menus
 -3.1 General dropdown menus
4. Containers & Columns
5. Footer widgets
6. IE Fixes

/*----------------------*/
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/*----------------------*/
#wrapper {
  padding: 0 2em;
}
/* LAYOUT RELATED STYLES */
.flex-direction-nav .flex-prev {
  opacity: 1;
  left: 0;
}
.flex-direction-nav .flex-next {
  opacity: 1;
  right: 0;
}
body {
  background-repeat: repeat-x;
}
#wrapper {
  padding: 0;
}
/* 1. GLOBAL DROPDOWN STYLES (these are purely for the dropdown layout and you should only edit the width of the dropdowns) */
ul.nav {
  position: relative;
  margin-bottom: 0;
  /* LEVEL 2 */

  /* LEVEL 3 */

}
ul.nav li {
  position: relative;
  float: left;
  zoom: 1;
  list-style: none;
}
ul.nav li a {
  display: block;
  padding: .53em 1em;
}
ul.nav ul {
  width: 11.089em;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  margin: 0;
}
ul.nav ul li {
  float: none;
}
ul.nav ul li a {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
ul.nav ul ul {
  left: 100%;
  top: 0;
}
ul.nav li:hover > ul {
  visibility: visible;
}
/* 2. TOP NAVIGATION (Add top navigation presentational styles here) */
#top {
  background: #000;
  padding: 0 1.618em;
}
#top #top-nav {
  display: block;
}
#top ul.nav {
  font-size: .9em;
  /* LEVEL 2 */

  /* LEVEL 3 */

}
#top ul.nav > li a {
  color: #999;
}
#top ul.nav > li a:hover {
  background: none;
}
#top ul.nav > li.current_page_item a,
#top ul.nav > li.current_page_parent a,
#top ul.nav > li.current-menu-ancestor a,
#top ul.nav > li.current-cat a,
#top ul.nav > li.li.current-menu-item a {
  color: #52a0cd;
  background: none;
}
#top ul.nav > li:hover {
  background: none;
}
#top ul.nav ul {
  background: #000;
}
/* 3. MAIN NAVIGATION DROPDOWN MENUS (Add main navigation presentational styles here) */
#navigation {
  display: block !important;
  -webkit-border-radius: 0.236em;
  border-radius: 0.236em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #4a4a4a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#363636));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #4a4a4a, #363636);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #4a4a4a, #363636);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #4a4a4a, #363636);
  /* IE10 */

  background-image: -o-linear-gradient(top, #4a4a4a, #363636);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #4a4a4a, #363636);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #2f2f2f;
  border-width: 1px 1px 0;
  margin-bottom: 1.618em;
  padding: 0;
}
#navigation ul.nav {
  font-size: 1.1em;
  margin-bottom: -1px;
  /* LEVEL 2 */

  /* LEVEL 3 */

}
#navigation ul.nav > li {
  border-right: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation ul.nav > li a {
  font-weight: bold;
  padding: .618em 1.618em;
  color: #fff;
  text-shadow: 0 -1px 0 #2f2f2f;
  border: 1px solid #2f2f2f;
  border-width: 0 0 0 1px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 2px 0 0 0 #646464;
  -webkit-box-shadow: 2px 0 0 0 #646464;
}
#navigation ul.nav > li a:hover {
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
  background-color: #393939;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#282828));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #393939, #282828);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #393939, #282828);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #393939, #282828);
  /* IE10 */

  background-image: -o-linear-gradient(top, #393939, #282828);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #393939, #282828);
  text-decoration: none;
}
#navigation ul.nav > li:hover {
  text-decoration: none;
  background-color: #393939;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#282828));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #393939, #282828);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #393939, #282828);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #393939, #282828);
  /* IE10 */

  background-image: -o-linear-gradient(top, #393939, #282828);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #393939, #282828);
}
#navigation ul.nav > li.current_page_item a,
#navigation ul.nav > li.current_page_parent a,
#navigation ul.nav > li.current-menu-ancestor a,
#navigation ul.nav > li.current-cat a,
#navigation ul.nav > li.li.current-menu-item a {
  margin-top: -1px;
  background-color: #76b9e9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76b9e9), to(#4386b6));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #76b9e9, #4386b6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #76b9e9, #4386b6);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #76b9e9, #4386b6);
  /* IE10 */

  background-image: -o-linear-gradient(top, #76b9e9, #4386b6);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #76b9e9, #4386b6);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  padding-top: .7em;
}
#navigation ul.nav > li.current_page_item ul li a,
#navigation ul.nav > li.current_page_parent ul li a,
#navigation ul.nav > li.current-menu-ancestor ul li a,
#navigation ul.nav > li.current-cat ul li a,
#navigation ul.nav > li.li.current-menu-item ul li a {
  background: #282828;
}
#navigation ul.nav > li.current_page_item ul li a:hover,
#navigation ul.nav > li.current_page_parent ul li a:hover,
#navigation ul.nav > li.current-menu-ancestor ul li a:hover,
#navigation ul.nav > li.current-cat ul li a:hover,
#navigation ul.nav > li.li.current-menu-item ul li a:hover {
  background: #393939;
}
#navigation ul.nav > li:first-child a {
  -webkit-border-top-left-radius: 0.202em;
  -webkit-border-bottom-left-radius: 0.202em;
  border-top-left-radius: 0.202em;
  border-bottom-left-radius: 0.202em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-width: 0;
  margin-left: -1px;
}
#navigation ul.nav > li:last-child a {
  border-width: 0 1px 0 1px;
  box-shadow: 1px 0 0 0 #646464;
  -webkit-box-shadow: 1px 0 0 0 #646464;
}
#navigation ul.nav ul {
  background: #282828;
  left: 0;
  -webkit-border-bottom-left-radius: 0.53em;
  -webkit-border-bottom-right-radius: 0.53em;
  border-bottom-left-radius: 0.53em;
  border-bottom-right-radius: 0.53em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation ul.nav ul > li a {
  border: 0;
  box-shadow: 0 0 0 0 #5b5b5b !important;
  -webkit-box-shadow: 0 0 0 0 #5b5b5b !important;
}
#navigation ul.nav ul > li a:hover {
  background: #393939;
}
#navigation ul.nav ul > li:last-child a {
  -webkit-border-bottom-left-radius: 0.53em;
  -webkit-border-bottom-right-radius: 0.53em;
  border-bottom-left-radius: 0.53em;
  border-bottom-right-radius: 0.53em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#navigation ul.nav ul ul {
  top: -1px;
  left: 100%;
}
.nav-toggle {
  display: none;
}
#footer ul.nav li a {
  padding: 0 1em;
  color: #d9d9d9;
  font-size: .9em;
}
#footer ul.nav li.current_page_item a,
#footer ul.nav li.current_page_parent a,
#footer ul.nav li.current-menu-ancestor a,
#footer ul.nav li.current-cat a,
#footer ul.nav li.li.current-menu-item a {
  background: none;
  color: #d9d9d9;
}
/* 4. CONTAINERS & COLUMNS */
#header {
  padding: 3em 0 .382em;
}
#header #logo {
  float: left;
}
#header #logo img {
  margin: 0;
  display: inline;
}
#header hgroup {
  float: left;
}
#header hgroup h1,
#header hgroup h2,
#header hgroup h3 {
  float: none;
}
#header ul.rss {
  margin-right: 0;
  padding-right: 0;
}
#header ul.rss li {
  border-right: 0;
}
#header ul.cart li {
  border-left: 1px solid #eaeaea;
}
#header .widget_product_search,
#header .search_main {
  margin: 0 0 2.244em;
  float: right;
  clear: none;
  width: auto;
}
#header #header-components {
  position: absolute;
  top: 2.9em;
  right: 0;
}
#wrapper,
#footer-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 3.631em;
}
#main.fullwidth,
.layout-full #main,
.col-full {
  max-width: 75.998em;
  margin: 0 auto;
  width: 100%;
}
#main {
  width: 73%;
}
#sidebar {
  overflow: hidden;
  margin-top: 0;
  width: 23%;
}
.entry img {
  max-width: 100%;
}
.layout-full .entry img {
  max-width: 100%;
}
.layout-right-content #main {
  float: right;
}
.layout-right-content #sidebar {
  float: left;
}
.layout-full #main {
  width: 100%;
}
.col-left {
  float: left;
}
.col-right {
  float: right;
}
.page-template-template-contact-php .location-twitter .col-left {
  float: left;
}
.page-template-template-contact-php .location-twitter #office-location {
  width: 48%;
  margin: 0;
}
.page-template-template-contact-php .location-twitter .contact-social {
  float: right;
}
.page-template-template-contact-php .location-twitter .contact-social.col-right {
  width: 48%;
}
.post header:after,
.type-page header:after,
.search .type-page header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.post header h1,
.type-page header h1,
.search .type-page header h1 {
  float: right;
  width: 76%;
}
.post header h1:after,
.type-page header h1:after,
.search .type-page header h1:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.post .post-meta,
.type-page .post-meta,
.search .type-page .post-meta {
  width: 16%;
  padding: 0 2.244em 1em 0;
  border-right: 1px solid #eaeaea;
  float: left;
  font-size: .857em;
}
.post .post-meta span.small,
.type-page .post-meta span.small,
.search .type-page .post-meta span.small {
  display: none;
}
.post .post-meta li,
.type-page .post-meta li,
.search .type-page .post-meta li {
  text-align: right;
  display: block;
  margin: .382em 0;
}
.post .post-meta li a,
.type-page .post-meta li a,
.search .type-page .post-meta li a {
  color: #4c4c4c;
}
.post .post-meta li.post-date,
.type-page .post-meta li.post-date,
.search .type-page .post-meta li.post-date {
  color: #999999;
}
.post .article-inner,
.type-page .article-inner,
.search .type-page .article-inner {
  width: 76%;
  float: right;
}
.post:after,
.type-page:after,
.search .type-page:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.type-page header h1 {
  width: auto;
  float: left;
}
.page #respond {
  padding: 0;
}
#post-author {
  padding: 1.618em 1.618em 1.618em 12em;
}
#post-entries {
  padding: 1.618em 1.618em 1.618em 12em;
}
#comments h3 {
  padding: 0 0 0 9em;
}
#comments .comment .comment-container {
  position: relative;
  padding: 2.244em 2.244em 1em 2.244em;
}
#comments .comment.depth-1 .comment-container {
  padding-left: 7em;
}
#comments .comment.depth-2 .comment-container {
  padding-left: 13em;
}
#comments .comment.depth-3 .comment-container {
  padding-left: 19em;
}
#comments .comment.depth-4 .comment-container {
  padding-left: 25em;
}
#comments ul.children {
  margin: 0;
}
#respond {
  padding-left: 12.8em;
}
/* Homepage */.home-section ul li .item {
  width: 22.7%;
  margin: 0 3% 2.244em 0;
}
.home-section ul li:nth-child(2n+2) .item {
  margin-right: 3%;
}
.home-section ul li:nth-child(4n+4) .item {
  margin-right: 0;
}
#home-shop h3 {
  float: left;
}
#home-shop .price {
  float: right;
}
#main .widget_woothemes_features .feature {
  width: 22.7%;
  margin: 0 3% 2.244em 0;
}
#blog-posts ul li:nth-child(4n+1) {
  clear: both;
}
#blog-posts ul li:nth-child(4n+4) {
  clear: right;
}
#featured-slider .slide-media {
  padding: .387em;
  border: 1px solid #eaeaea;
}
#featured-slider .slide-content {
  position: absolute;
  bottom: 6.1em;
  margin: 0 3.618em;
  float: left;
}
#featured-slider .slide-content .slide-content-inner {
  padding: 0;
  border: 0;
}
#featured-slider .slide-content header,
#featured-slider .slide-content footer {
  background: #0C0906;
  background: rgba(0, 0, 0, 0.8);
  padding: .618em .857em;
}
#featured-slider .slide-content header h1,
#featured-slider .slide-content footer h1 {
  font-size: 2.618em;
  margin: 0;
  font-weight: normal;
}
#featured-slider .slide-content header {
  margin: 0 0 .1em;
}
#featured-slider .slide-content header h1 {
  word-break: break-word;
}
#featured-slider .slide-content footer {
  display: inline-block;
  padding: .202em .618em;
  color: #B1B1B1;
}
#featured-slider .slide-content footer a {
  color: #B1B1B1;
}
#featured-slider .slide-content footer p {
  font-size: 1em;
}
#featured-slider .flex-direction-nav {
  position: absolute;
  padding: .327em;
  bottom: 2.4em;
  top: auto;
  right: auto;
}
#promotion .left-section {
  width: 70%;
  float: left;
}
#promotion .right-section {
  float: right;
}
#promotion .btn {
  display: inline;
}
/* PORTFOLIO TEMPLATE */
#portfolio-gallery header h1 {
  margin: 0;
  font-weight: normal;
  float: left;
}
#portfolio-gallery #port-tags {
  float: right;
  padding: .618em 0 0 0;
}
#portfolio {
  margin-left: -2em;
}
#portfolio article {
  float: left;
  margin: 0 0 2em 2em;
}
#portfolio article.featured {
  margin: 0 0 2em 2em;
  float: none;
  display: block;
  max-width: 100%;
}
#portfolio article.featured img {
  max-width: 100%;
}
#portfolio article.featured .mask .content {
  margin: 1.618em 2.244em;
}
#portfolio article.featured .mask span.title {
  font-size: 1.618em;
}
.single-portfolio .portfolio {
  float: left;
  width: 26%;
}
.single-portfolio .single-portfolio-gallery {
  float: right;
  width: 70%;
  margin: 0 0 2.244em;
}
/* 5. FOOTER WIDGETS */
#footer-widgets .block {
  margin-right: 3.8%;
  float: left;
}
#footer-widgets.col-1 .block {
  width: 100%;
  float: none;
}
#footer-widgets.col-1 .footer-widget-1 {
  margin-right: 0;
}
#footer-widgets.col-2 .block {
  width: 48%;
}
#footer-widgets.col-2 .footer-widget-2 {
  margin-right: 0;
}
#footer-widgets.col-3 .block {
  width: 30.75%;
}
#footer-widgets.col-3 .footer-widget-3 {
  margin-right: 0;
}
#footer-widgets.col-4 .block {
  width: 22.05%;
}
#footer-widgets.col-4 .footer-widget-4 {
  margin-right: 0;
}
/* 6. IE FIXES */
.ie7 #top-nav {
  position: relative;
  z-index: 9999999;
}
.ie7 #header {
  position: relative;
  z-index: 9999999;
}
