/*-------------------------------------------------------------------------------------------*/
/* Stylesheet for Japanese language */
/*-------------------------------------------------------------------------------------------*/
/* 1. Fonts */
body {
    font-family: "F+UD-ニューロダン M";
}
h1,h2,h3,h4,h5,h6 {
    font-family: "F+UD-ニューロダン M";
}
#navigation {
  font-family: "F+UD-ニューロダン M";
}
.has-slider #featured header h1 {
    font-family: "F+UD-筑紫明朝 E";
}

/* 2. Header menu */
#menu-item-209,
#menu-item-113,
#menu-item-114,
#menu-item-112,
#menu-item-98 {
    display: list-item;
}
#menu-item-214,
#menu-item-210,
#menu-item-211,
#menu-item-212,
#menu-item-213 {
    display: none;
}
