@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/* From style.css */
a {
  color: #c25d00;
}
a:hover {
  color: #a03b00;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs:after,
#footer-widgets .woocommerce_tabs ul.nav-tabs:after,
#footer-widgets .woocommerce-tabs ul.nav-tabs:after,
#footer-widgets .widget_woodojo_tabs ul.tabs:after,
#footer-widgets .woocommerce_tabs ul.tabs:after,
#footer-widgets .woocommerce-tabs ul.tabs:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs li.active a,
#footer-widgets .woocommerce_tabs ul.nav-tabs li.active a,
#footer-widgets .woocommerce-tabs ul.nav-tabs li.active a,
#footer-widgets .widget_woodojo_tabs ul.tabs li.active a,
#footer-widgets .woocommerce_tabs ul.tabs li.active a,
#footer-widgets .woocommerce-tabs ul.tabs li.active a {
  background: #c25d00;
  border: 1px solid #8f4500;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs li.active a:hover,
#footer-widgets .woocommerce_tabs ul.nav-tabs li.active a:hover,
#footer-widgets .woocommerce-tabs ul.nav-tabs li.active a:hover,
#footer-widgets .widget_woodojo_tabs ul.tabs li.active a:hover,
#footer-widgets .woocommerce_tabs ul.tabs li.active a:hover,
#footer-widgets .woocommerce-tabs ul.tabs li.active a:hover {
  background: #8f4500;
}
.woo-pagination .page-numbers {
  color: #c25d00;
}
.widget_woodojo_tabs ul.nav-tabs li a:hover,
.woocommerce_tabs ul.nav-tabs li a:hover,
.woocommerce-tabs ul.nav-tabs li a:hover,
.widget_woodojo_tabs ul.tabs li a:hover,
.woocommerce_tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li a:hover {
  color: #c25d00;
}
.widget_woodojo_tabs ul.nav-tabs li.active a,
.woocommerce_tabs ul.nav-tabs li.active a,
.woocommerce-tabs ul.nav-tabs li.active a,
.widget_woodojo_tabs ul.tabs li.active a,
.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a {
  background: #c25d00;
  border: 1px solid #8f4500;
}
.widget_woodojo_tabs ul.nav-tabs li.active a:hover,
.woocommerce_tabs ul.nav-tabs li.active a:hover,
.woocommerce-tabs ul.nav-tabs li.active a:hover,
.widget_woodojo_tabs ul.tabs li.active a:hover,
.woocommerce_tabs ul.tabs li.active a:hover,
.woocommerce-tabs ul.tabs li.active a:hover {
  background: #8f4500;
  border: 1px solid #763800;
}
.widget_woodojo_tweets .follow-link a {
  background: #c25d00;
}
.widget_woodojo_twitterprofile .follow-link a {
  background: #c25d00;
}
#comments .comment .reply a {
  color: #c25d00 !important;
}
#respond #commentform #submit {
  background: #c25d00;
}
#respond #commentform #submit:hover {
  background: #8f4500;
}
#respond #commentform #submit:active {
  background: #5c2c00;
}
button.button {
  background: #c25d00;
}
button.button:hover {
  background: #8f4500;
}
button.button:active {
  background: #5c2c00;
}
.home-section .btn,
.home-section .button {
  border: 1px solid #c25d00;
  border-bottom-color: #b14c00;
  background-color: #d36e11;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d36e11), to(#b14c00));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #d36e11, #b14c00);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #d36e11, #b14c00);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #d36e11, #b14c00);
  /* IE10 */

  background-image: -o-linear-gradient(top, #d36e11, #b14c00);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #d36e11, #b14c00);
}
.home-section .btn:hover,
.home-section .button:hover {
  text-decoration: none;
  background-color: #d36e11;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d36e11), to(#a03b00));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #d36e11, #a03b00);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #d36e11, #a03b00);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #d36e11, #a03b00);
  /* IE10 */

  background-image: -o-linear-gradient(top, #d36e11, #a03b00);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #d36e11, #a03b00);
}
.home-section .btn:active,
.home-section .button:active {
  border-color: #b14c00;
}
#intro-message h1 a:hover {
  color: #b14c00;
}
#home-shop .onsale {
  background: #c25d00;
}
#portfolio-gallery #port-tags a.current {
  background: #c25d00;
}
/* From css/layout.css */
@media only screen and (min-width: 768px) {
  #top ul.nav > li.current_page_item a,
  #top ul.nav > li.current_page_parent a,
  #top ul.nav > li.current-menu-ancestor a,
  #top ul.nav > li.current-cat a,
  #top ul.nav > li.li.current-menu-item a {
    color: #c25d00;
  }
  #navigation ul.nav > li.current_page_item a,
  #navigation ul.nav > li.current_page_parent a,
  #navigation ul.nav > li.current-menu-ancestor a,
  #navigation ul.nav > li.current-cat a,
  #navigation ul.nav > li.li.current-menu-item a {
    background-color: #c25d00;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c25d00), to(#8f2a00));
    /* Saf4+, Chrome */
  
    background-image: -webkit-linear-gradient(top, #c25d00, #8f2a00);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
  
    background-image: -moz-linear-gradient(top, #c25d00, #8f2a00);
    /* FF3.6+ */
  
    background-image: -ms-linear-gradient(top, #c25d00, #8f2a00);
    /* IE10 */
  
    background-image: -o-linear-gradient(top, #c25d00, #8f2a00);
    /* Opera 11.10+ */
  
    background-image: linear-gradient(to bottom, #c25d00, #8f2a00);
  }
}
.ie8 #top ul.nav > li.current_page_item a,
.ie8 #top ul.nav > li.current_page_parent a,
.ie8 #top ul.nav > li.current-menu-ancestor a,
.ie8 #top ul.nav > li.current-cat a,
.ie8 #top ul.nav > li.li.current-menu-item a {
  color: #c25d00;
}
.ie8 #navigation ul.nav > li.current_page_item a,
.ie8 #navigation ul.nav > li.current_page_parent a,
.ie8 #navigation ul.nav > li.current-menu-ancestor a,
.ie8 #navigation ul.nav > li.current-cat a,
.ie8 #navigation ul.nav > li.li.current-menu-item a {
  background-color: #c25d00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c25d00), to(#8f2a00));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #c25d00, #8f2a00);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #c25d00, #8f2a00);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #c25d00, #8f2a00);
  /* IE10 */

  background-image: -o-linear-gradient(top, #c25d00, #8f2a00);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #c25d00, #8f2a00);
}
/* From css/woocommerce.css */
.star-rating span {
  background: #c25d00;
}
p.stars span a:hover,
p.stars span a:focus {
  background: #c25d00;
}
p.stars span a.active {
  background: #c25d00;
}
.widget_layered_nav ul li.chosen a {
  background: #c25d00;
}
.widget_price_filter .price_slider_amount .button {
  border-bottom-color: #b14c00;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #c25d00;
}
.widget_price_filter .ui-slider .ui-slider-range {
  border: 1px solid #663100;
  background-color: #994900;
  background-color: transparent 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent 50%), to(#c25d00 50%));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, transparent 50%, #c25d00 50%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, transparent 50%, #c25d00 50%);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, transparent 50%, #c25d00 50%);
  /* IE10 */

  background-image: -o-linear-gradient(top, transparent 50%, #c25d00 50%);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, transparent 50%, #c25d00 50%);
}
.onsale {
  background: #c25d00;
}
.quantity .plus,
.quantity .minus {
  background: #c25d00;
}
ul.products li.product .btn,
ul.products li.product .button {
  border: 1px solid #c25d00;
  border-bottom-color: #b14c00;
  background-color: #d36e11;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d36e11), to(#b14c00));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #d36e11, #b14c00);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #d36e11, #b14c00);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #d36e11, #b14c00);
  /* IE10 */

  background-image: -o-linear-gradient(top, #d36e11, #b14c00);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #d36e11, #b14c00);
}
ul.products li.product .btn:hover,
ul.products li.product .button:hover {
  text-decoration: none;
  background-color: #d36e11;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d36e11), to(#a03b00));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #d36e11, #a03b00);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #d36e11, #a03b00);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #d36e11, #a03b00);
  /* IE10 */

  background-image: -o-linear-gradient(top, #d36e11, #a03b00);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #d36e11, #a03b00);
}
ul.products li.product .btn:active,
ul.products li.product .button:active {
  border-color: #b14c00;
}
.single-product .summary .price {
  color: #c25d00;
}
