@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
/* From style.css */
a {
  color: #f18783;
}
a:hover {
  color: #cf6561;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs:after,
#footer-widgets .woocommerce_tabs ul.nav-tabs:after,
#footer-widgets .woocommerce-tabs ul.nav-tabs:after,
#footer-widgets .widget_woodojo_tabs ul.tabs:after,
#footer-widgets .woocommerce_tabs ul.tabs:after,
#footer-widgets .woocommerce-tabs ul.tabs:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs li.active a,
#footer-widgets .woocommerce_tabs ul.nav-tabs li.active a,
#footer-widgets .woocommerce-tabs ul.nav-tabs li.active a,
#footer-widgets .widget_woodojo_tabs ul.tabs li.active a,
#footer-widgets .woocommerce_tabs ul.tabs li.active a,
#footer-widgets .woocommerce-tabs ul.tabs li.active a {
  background: #f18783;
  border: 1px solid #ec5b55;
}
#footer-widgets .widget_woodojo_tabs ul.nav-tabs li.active a:hover,
#footer-widgets .woocommerce_tabs ul.nav-tabs li.active a:hover,
#footer-widgets .woocommerce-tabs ul.nav-tabs li.active a:hover,
#footer-widgets .widget_woodojo_tabs ul.tabs li.active a:hover,
#footer-widgets .woocommerce_tabs ul.tabs li.active a:hover,
#footer-widgets .woocommerce-tabs ul.tabs li.active a:hover {
  background: #ec5b55;
}
.woo-pagination .page-numbers {
  color: #f18783;
}
.widget_woodojo_tabs ul.nav-tabs li a:hover,
.woocommerce_tabs ul.nav-tabs li a:hover,
.woocommerce-tabs ul.nav-tabs li a:hover,
.widget_woodojo_tabs ul.tabs li a:hover,
.woocommerce_tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li a:hover {
  color: #f18783;
}
.widget_woodojo_tabs ul.nav-tabs li.active a,
.woocommerce_tabs ul.nav-tabs li.active a,
.woocommerce-tabs ul.nav-tabs li.active a,
.widget_woodojo_tabs ul.tabs li.active a,
.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a {
  background: #f18783;
  border: 1px solid #ec5b55;
}
.widget_woodojo_tabs ul.nav-tabs li.active a:hover,
.woocommerce_tabs ul.nav-tabs li.active a:hover,
.woocommerce-tabs ul.nav-tabs li.active a:hover,
.widget_woodojo_tabs ul.tabs li.active a:hover,
.woocommerce_tabs ul.tabs li.active a:hover,
.woocommerce-tabs ul.tabs li.active a:hover {
  background: #ec5b55;
  border: 1px solid #e9443e;
}
.widget_woodojo_tweets .follow-link a {
  background: #f18783;
}
.widget_woodojo_twitterprofile .follow-link a {
  background: #f18783;
}
#comments .comment .reply a {
  color: #f18783 !important;
}
#respond #commentform #submit {
  background: #f18783;
}
#respond #commentform #submit:hover {
  background: #ec5b55;
}
#respond #commentform #submit:active {
  background: #e72e27;
}
button.button {
  background: #f18783;
}
button.button:hover {
  background: #ec5b55;
}
button.button:active {
  background: #e72e27;
}
.home-section .btn,
.home-section .button {
  border: 1px solid #f18783;
  border-bottom-color: #e07672;
  background-color: #ff9894;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9894), to(#e07672));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff9894, #e07672);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff9894, #e07672);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff9894, #e07672);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff9894, #e07672);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff9894, #e07672);
}
.home-section .btn:hover,
.home-section .button:hover {
  text-decoration: none;
  background-color: #ff9894;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9894), to(#cf6561));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff9894, #cf6561);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff9894, #cf6561);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff9894, #cf6561);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff9894, #cf6561);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff9894, #cf6561);
}
.home-section .btn:active,
.home-section .button:active {
  border-color: #e07672;
}
#intro-message h1 a:hover {
  color: #e07672;
}
#home-shop .onsale {
  background: #f18783;
}
#portfolio-gallery #port-tags a.current {
  background: #f18783;
}
/* From css/layout.css */
@media only screen and (min-width: 768px) {
  #top ul.nav > li.current_page_item a,
  #top ul.nav > li.current_page_parent a,
  #top ul.nav > li.current-menu-ancestor a,
  #top ul.nav > li.current-cat a,
  #top ul.nav > li.li.current-menu-item a {
    color: #f18783;
  }
  #navigation ul.nav > li.current_page_item a,
  #navigation ul.nav > li.current_page_parent a,
  #navigation ul.nav > li.current-menu-ancestor a,
  #navigation ul.nav > li.current-cat a,
  #navigation ul.nav > li.li.current-menu-item a {
    background-color: #f18783;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f18783), to(#be5450));
    /* Saf4+, Chrome */
  
    background-image: -webkit-linear-gradient(top, #f18783, #be5450);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
  
    background-image: -moz-linear-gradient(top, #f18783, #be5450);
    /* FF3.6+ */
  
    background-image: -ms-linear-gradient(top, #f18783, #be5450);
    /* IE10 */
  
    background-image: -o-linear-gradient(top, #f18783, #be5450);
    /* Opera 11.10+ */
  
    background-image: linear-gradient(to bottom, #f18783, #be5450);
  }
}
.ie8 #top ul.nav > li.current_page_item a,
.ie8 #top ul.nav > li.current_page_parent a,
.ie8 #top ul.nav > li.current-menu-ancestor a,
.ie8 #top ul.nav > li.current-cat a,
.ie8 #top ul.nav > li.li.current-menu-item a {
  color: #f18783;
}
.ie8 #navigation ul.nav > li.current_page_item a,
.ie8 #navigation ul.nav > li.current_page_parent a,
.ie8 #navigation ul.nav > li.current-menu-ancestor a,
.ie8 #navigation ul.nav > li.current-cat a,
.ie8 #navigation ul.nav > li.li.current-menu-item a {
  background-color: #f18783;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f18783), to(#be5450));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #f18783, #be5450);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #f18783, #be5450);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #f18783, #be5450);
  /* IE10 */

  background-image: -o-linear-gradient(top, #f18783, #be5450);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #f18783, #be5450);
}
/* From css/woocommerce.css */
.star-rating span {
  background: #f18783;
}
p.stars span a:hover,
p.stars span a:focus {
  background: #f18783;
}
p.stars span a.active {
  background: #f18783;
}
.widget_layered_nav ul li.chosen a {
  background: #f18783;
}
.widget_price_filter .price_slider_amount .button {
  border-bottom-color: #e07672;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #f18783;
}
.widget_price_filter .ui-slider .ui-slider-range {
  border: 1px solid #e83731;
  background-color: #ed645e;
  background-color: transparent 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent 50%), to(#f18783 50%));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, transparent 50%, #f18783 50%);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, transparent 50%, #f18783 50%);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, transparent 50%, #f18783 50%);
  /* IE10 */

  background-image: -o-linear-gradient(top, transparent 50%, #f18783 50%);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, transparent 50%, #f18783 50%);
}
.onsale {
  background: #f18783;
}
.quantity .plus,
.quantity .minus {
  background: #f18783;
}
ul.products li.product .btn,
ul.products li.product .button {
  border: 1px solid #f18783;
  border-bottom-color: #e07672;
  background-color: #ff9894;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9894), to(#e07672));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff9894, #e07672);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff9894, #e07672);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff9894, #e07672);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff9894, #e07672);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff9894, #e07672);
}
ul.products li.product .btn:hover,
ul.products li.product .button:hover {
  text-decoration: none;
  background-color: #ff9894;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9894), to(#cf6561));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ff9894, #cf6561);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ff9894, #cf6561);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ff9894, #cf6561);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ff9894, #cf6561);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ff9894, #cf6561);
}
ul.products li.product .btn:active,
ul.products li.product .button:active {
  border-color: #e07672;
}
.single-product .summary .price {
  color: #f18783;
}
