/*---------------------------------------------------------------------------------------------

TABLE OF CONTENTS:

1. Icon for "Events".
2. Icon for "Discography".
3. Icon for "Photo Galleries".
4. Icon for "Press".
5. Icon for "Band Members".
6. Icon for "SoundCloud".
7. Icon for "SongKick".

---------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 1. Icon for "Events". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.events span.icon { background-image:url(../woo-events/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 2. Icon for "Discography". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.discography span.icon { background-image:url(../woo-discography/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 3. Icon for "Photo Galleries". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.photo-albums span.icon { background-image:url(../woo-photos/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 4. Icon for "Press". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.press span.icon { background-image:url(../woo-press/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 5. Icon for "Band Members". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.band span.icon { background-image:url(../woo-bandmembers/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 6. Icon for "SoundCloud". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.soundcloud span.icon { background-image:url(../woo-soundcloud/assets/images/icon_16.png); }

/*-------------------------------------------------------------------------------------------*/
/* 7. Icon for "SongKick". */
/*-------------------------------------------------------------------------------------------*/

#wpbody-content #woo_container #woo-nav ul li.songkick span.icon { background-image:url(../woo-songkick/assets/images/icon_16.png); }