/* LIGHT ALT STYLE */
/* Imports */
.background {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bfc5ca;
  box-shadow: 0px -1px 0px 0px #3b3a3a;
  -webkit-box-shadow: 0px -1px 0px 0px #3b3a3a;
  -moz-box-shadow: 0px -1px 0px 0px #3b3a3a;
  -o-box-shadow: 0px -1px 0px 0px #3b3a3a;
}
.no-background {
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#00000000", GradientType=0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
body {
  background-color: #e5ebf0;
  color: #777777;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #7b9ebb;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #7b9ebb;
}
.rounded,
.entry img {
  border: 1px solid #bfc5ca;
}
.rounded:hover,
.entry img:hover {
  border-color: #a3acb3;
}
hr {
  background-color: #bfc5ca;
}
input,
textarea {
  border-color: #a9b1b8 #bfc5ca #bfc5ca #a9b1b8;
  color: #777777;
}
a {
  color: #7b9ebb;
}
a:hover {
  color: #597c99;
}
body.woocommerce-page .woocommerce_ordering option,
body.woocommerce-page .woocommerce-ordering option {
  color: #666666;
}
body.woocommerce-page .woo-pagination {
  float: left;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}
#contact-page.rounded-border,
.post,
.type-page,
.type-band_member,
.type-video,
.type-product,
.type-gallery,
.type-album,
.type-event,
#post-author,
.widget ul,
.widget.widget_woo_twitter .back,
.textwidget,
.tagcloud,
#respond #commentform input.txt,
#respond #commentform textarea,
#comments .comment.thread-even,
.widget .woo-audio-player .ttw-music-player,
.widget.widget_albums ul li,
.widget.widget_events ul li,
.widget.widget_galleries ul li,
.widget.widget_recent_news ul li,
.widget.widget_press_clippings ul li,
.flexslider .slides .slide,
ul.products,
.woocommerce_tabs,
.woocommerce-tabs,
.rounded-border,
.widget_video,
#respond #commentform,
.type-press,
.widget_woo_blogauthorinfo .content {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bfc5ca;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.widget .woo-audio-player .ttw-music-player img {
  border: 1px solid #bfc5ca;
}
.widget .container {
  border: 1px solid #bfc5ca;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}
.archive_header,
header h1.out-box,
#contact-page header h1,
#connect h3,
.widget h2,
.widget h3,
#tabs ul.wooTabs li a,
#comments h3,
#respond h3,
.slide h2 {
  text-shadow: 0 1px 1px #bfc5ca;
}
.post,
.type-page,
.type-band_member,
.type-video,
.type-product,
.type-gallery,
.type-album,
.type-event {
  text-shadow: 0 1px 1px #ffffff;
}
#navigation ul.rss li a {
  color: #7b9ebb;
}
#navigation ul.rss li a:hover {
  color: #7b9ebb;
}
#navigation ul.rss li.sub-email {
  color: #777777;
}
.nav li a {
  color: #5e5e5e;
}
.nav li a:hover {
  color: #7b9ebb;
  text-shadow: 0 1px 1px #bfc5ca;
}
.nav li.current_page_item a,
.nav li.current-menu-item a,
.nav li.current_page_parent a,
.nav li.current-menu-item a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.li.current-menu-item a,
.nav li.sfHover a {
  color: #7b9ebb;
  text-shadow: 0 1px 1px #bfc5ca;
}
#navigation .nav .sf-sub-indicator {
  background: url(light/arrow-superfish.png) no-repeat;
}
#navigation .nav li ul {
  border: 1px solid #b1b8be;
}
#navigation .nav li ul li {
  border-bottom: 1px solid #bfc5ca;
}
#navigation .nav li ul li a {
  border: none;
  color: #7b9ebb;
  text-shadow: 0 1px 1px #bfc5ca;
}
#navigation .nav li ul li a:hover {
  color: #7b9ebb;
}
#header-wrap {
  border-bottom: 1px solid #bfc5ca;
}
#header .site-title,
#header .site-description {
  color: #000000;
}
#header .site-title a,
#header .site-description a {
  color: #444444;
}
#header .site-description {
  color: #919191;
}
#footer {
  color: #919191;
}
.archive_header {
  color: #7b9ebb;
}
header h1.out-box a:link,
header h1.out-box a:visited {
  color: #7b9ebb;
}
.post,
.type-page,
.type-band_member,
.type-video,
.type-product,
.type-gallery,
.type-album,
.type-event,
#contact-page {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bfc5ca;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
.post header h1,
.type-page header h1,
.type-band_member header h1,
.type-video header h1,
.type-product header h1,
.type-gallery header h1,
.type-album header h1,
.type-event header h1,
#contact-page header h1 {
  text-shadow: 0 1px 1px #bfc5ca;
}
.post header h1 a:link,
.type-page header h1 a:link,
.type-band_member header h1 a:link,
.type-video header h1 a:link,
.type-product header h1 a:link,
.type-gallery header h1 a:link,
.type-album header h1 a:link,
.type-event header h1 a:link,
#contact-page header h1 a:link,
.post header h1 a:visited,
.type-page header h1 a:visited,
.type-band_member header h1 a:visited,
.type-video header h1 a:visited,
.type-product header h1 a:visited,
.type-gallery header h1 a:visited,
.type-album header h1 a:visited,
.type-event header h1 a:visited,
#contact-page header h1 a:visited {
  color: #7b9ebb;
}
.post .post-meta a:link:hover,
.type-page .post-meta a:link:hover,
.type-band_member .post-meta a:link:hover,
.type-video .post-meta a:link:hover,
.type-product .post-meta a:link:hover,
.type-gallery .post-meta a:link:hover,
.type-album .post-meta a:link:hover,
.type-event .post-meta a:link:hover,
#contact-page .post-meta a:link:hover,
.post .post-more a:link:hover,
.type-page .post-more a:link:hover,
.type-band_member .post-more a:link:hover,
.type-video .post-more a:link:hover,
.type-product .post-more a:link:hover,
.type-gallery .post-more a:link:hover,
.type-album .post-more a:link:hover,
.type-event .post-more a:link:hover,
#contact-page .post-more a:link:hover,
.post p.tags a:link:hover,
.type-page p.tags a:link:hover,
.type-band_member p.tags a:link:hover,
.type-video p.tags a:link:hover,
.type-product p.tags a:link:hover,
.type-gallery p.tags a:link:hover,
.type-album p.tags a:link:hover,
.type-event p.tags a:link:hover,
#contact-page p.tags a:link:hover,
.post .post-meta a:visited:hover,
.type-page .post-meta a:visited:hover,
.type-band_member .post-meta a:visited:hover,
.type-video .post-meta a:visited:hover,
.type-product .post-meta a:visited:hover,
.type-gallery .post-meta a:visited:hover,
.type-album .post-meta a:visited:hover,
.type-event .post-meta a:visited:hover,
#contact-page .post-meta a:visited:hover,
.post .post-more a:visited:hover,
.type-page .post-more a:visited:hover,
.type-band_member .post-more a:visited:hover,
.type-video .post-more a:visited:hover,
.type-product .post-more a:visited:hover,
.type-gallery .post-more a:visited:hover,
.type-album .post-more a:visited:hover,
.type-event .post-more a:visited:hover,
#contact-page .post-more a:visited:hover,
.post p.tags a:visited:hover,
.type-page p.tags a:visited:hover,
.type-band_member p.tags a:visited:hover,
.type-video p.tags a:visited:hover,
.type-product p.tags a:visited:hover,
.type-gallery p.tags a:visited:hover,
.type-album p.tags a:visited:hover,
.type-event p.tags a:visited:hover,
#contact-page p.tags a:visited:hover {
  color: #7b9ebb;
}
.post .wp-caption,
.type-page .wp-caption,
.type-band_member .wp-caption,
.type-video .wp-caption,
.type-product .wp-caption,
.type-gallery .wp-caption,
.type-album .wp-caption,
.type-event .wp-caption,
#contact-page .wp-caption {
  background: #e5ebf0;
  border: 1px solid #bfc5ca;
}
.entry blockquote {
  color: #515151;
}
.nav-entries a {
  color: #777777;
}
.woo-pagination .page-numbers {
  color: #7b9ebb;
  border: 1px solid #959fa7;
}
.woo-pagination .page-numbers:hover,
.woo-pagination .page-numbers.current {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
}
#post-author .title {
  text-shadow: 0 1px 1px #bfc5ca;
}
#post-author .profile-image img {
  border: 1px solid #bfc5ca;
}
#post-entries a {
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: none;
}
#post-entries a:hover {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
}
#post-entries a:active {
  border-color: #264966;
}
table {
  border: 1px solid #bfc5ca;
}
table thead {
  color: #7b9ebb;
}
table th {
  border: 1px solid #bfc5ca;
}
table td {
  border: 1px solid #bfc5ca;
}
#connect .container {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #bfc5ca;
}
#connect .container p {
  border-bottom: 1px solid #bfc5ca;
}
#connect .container .social li {
  border-bottom: 1px solid #bfc5ca;
}
#connect .container .social li a {
  color: #7b9ebb;
}
#connect .container .social a.subscribe {
  background-image: url(light/ico-social-rss.png);
}
#connect .container .social a.twitter {
  background-image: url(light/ico-social-twitter.png);
}
#connect .container .social a.facebook {
  background-image: url(light/ico-social-facebook.png);
}
#connect .container .social a.youtube {
  background-image: url(light/ico-social-youtube.png);
}
#connect .container .social a.flickr {
  background-image: url(light/ico-social-flickr.png);
}
#connect .container .social a.linkedin {
  background-image: url(light/ico-social-linkedin.png);
}
#connect .container .social a.delicious {
  background-image: url(light/ico-social-delicious.png);
}
#connect .container .social a.googleplus {
  background-image: url(light/ico-social-googleplus.png);
}
#main #connect .col-left {
  border-right: 1px solid #bfc5ca;
}
.widget h3,
.widget h2 {
  color: #7b9ebb;
}
.widget h4 {
  text-shadow: 0 1px 1px #bfc5ca;
}
.widget ul ul {
  border-color: #bfc5ca;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.widget li {
  border-bottom: 1px solid #bfc5ca;
  overflow: hidden;
}
.widget .container {
  border-color: #bfc5ca;
}
.searchform {
  border-color: #a9b1b8 #bfc5ca #bfc5ca #a9b1b8;
}
.searchform input.s {
  color: #777777;
}
.searchform input.search-submit {
  position: absolute;
  top: 6px;
  right: 10px;
  border: 0;
  margin: 0;
  padding: 0;
}
.widget .woo-audio-player .ttw-music-player .album-title {
  color: #777777;
}
.widget_shopping_cart ul.product_list_widget {
  background: rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#00000000", GradientType=0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.widget_shopping_cart ul.product_list_widget li {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #bfc5ca;
  border-width: 1px 1px 0;
  border: none;
  padding: 10px 15px;
}
.widget_shopping_cart ul.product_list_widget li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: 1px solid #bfc5ca;
  border-width: 1px 1px 0;
}
.widget_shopping_cart ul.product_list_widget li {
  border: 1px solid #bfc5ca;
  border-width: 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.widget_shopping_cart ul.product_list_widget li.empty {
  border: 1px solid #bfc5ca;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget_woo_flickr h3 span {
  color: #0051d8;
}
.widget_woo_flickr h3 span span {
  color: #ff1183;
}
.widget_woo_flickr a img {
  border: 1px solid #bfc5ca;
}
.widget_woo_flickr a:hover img {
  border-color: #a3acb3;
}
#wp-calendar caption {
  color: #7b9ebb;
}
#wp-calendar th,
#wp-calendar td {
  background: #7b9ebb;
  color: #7b9ebb;
}
#wp-calendar td {
  color: #919191;
}
.widget_woo_blogauthorinfo .avatar {
  border: 1px solid #bfc5ca;
}
.widget.widget_woo_twitter ul li {
  border-bottom: 1px solid #bfc5ca;
}
.widget.widget_woo_twitter ul li .time {
  color: #919191;
}
.widget.widget_woo_twitter p {
  color: #919191;
}
.widget.widget_woo_twitter p a {
  color: #444444;
}
#tabs ul.wooTabs li {
  color: #7b9ebb;
}
#tabs ul.wooTabs li a {
  color: #444444;
  text-shadow: 0 1px 1px #bfc5ca;
}
#tabs ul.wooTabs li a.selected,
#tabs ul.wooTabs li a:hover {
  border-color: #bfc5ca #bfc5ca #020202;
  color: #7b9ebb;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}
#tabs .inside {
  border-color: #bfc5ca;
}
#tabs .inside #tab-tags a {
  background: #d5dfe7;
}
#tabs .inside #tab-tags a:hover {
  background: #c5d2dd;
}
#tabs .inside li {
  border-bottom: 1px solid #bfc5ca;
}
#tabs .inside li a {
  color: #7b9ebb;
}
#tabs .inside li span.meta {
  color: #919191;
}
#tabs .inside li img.avatar,
#tabs .inside li img.thumbnail {
  border: 1px solid #bfc5ca;
}
#tabs .inside li img.avatar:hover,
#tabs .inside li img.thumbnail:hover {
  border-color: #a3acb3;
}
.powered-by-songkick {
  background-image: url('../images/sk-pink-small.png');
}
#comments .comment .avatar img {
  border: 1px solid #bfc5ca;
}
#comments .comment .reply a:hover,
#comments .comment .reply a.current {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
}
#comments ul.children li {
  border-top: 1px solid #bfc5ca;
}
#comments #respond label {
  color: #919191;
}
#comments #respond #commentform input.txt,
#comments #respond #commentform textarea {
  color: #7b9ebb;
}
#archives .archives_list {
  border-left: 1px solid #bfc5ca;
}
#archives .archives_list .date {
  color: #919191;
}
#archives .archives_list .comments a {
  color: #9d9d9d;
}
h3.archive_year {
  color: #777777;
  margin-top: 0;
}
#contact-page ol.forms input.txt {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #bfc5ca;
}
#contact-page ol.forms textarea {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #bfc5ca;
}
.image-gallery-item img {
  border: 1px solid #c5d2dd;
  background: #e5ebf0;
}
.image-gallery-item img:hover {
  border: 1px solid #a4b9cb;
}
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
}
a.button:active,
a.comment-reply-link:active,
#commentform #submit:active,
.submit:active,
input[type=submit]:active,
input.button:active,
button.button:active {
  border-color: #264966;
}
.ie6 .button,
.ie6 .button:visited {
  color: #777777 !important;
}
.ie6 .reply a {
  color: #777777 !important;
}
.widget .woo-audio-player .album-title {
  color: #7b9ebb;
}
.widget .woo-audio-player img {
  border: 1px solid #bfc5ca;
}
.widget .woo-audio-player img:hover {
  border-color: #a3acb3;
}
.ttw-music-player .player-controls,
.ttw-music-player .player {
  border-bottom: 1px solid #bfc5ca;
}
.ttw-music-player .tracklist {
  color: #5e5e5e;
}
.ttw-music-player .tracklist li:hover {
  color: #777777;
}
.ttw-music-player li.playing {
  color: #7b9ebb !important;
}
.ttw-music-player .elapsed {
  background: transparent url(light/player-elapsed.png) repeat-x 0 0 scroll;
}
.ttw-music-player .tracklist li.playing .title {
  background: url("light/pause-list.png") no-repeat scroll 0 center transparent;
}
.flex-control-nav li a {
  color: #bfc5ca;
  border: 1px solid #bfc5ca;
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
}
.flex-control-nav li a:hover,
.flex-control-nav li a.active {
  color: #bfc5ca;
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
}
.flex-direction-nav li a.prev,
.flex-direction-nav li a.next {
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: block;
  height: 45px;
  width: 45px;
}
.flex-direction-nav li a.prev {
  float: left;
  margin-left: 3px;
}
.flex-direction-nav li a.prev span {
  background: url('light/slider-prev.png') no-repeat scroll center center transparent;
}
.flex-direction-nav li a.next {
  float: right;
  margin-right: 3px;
}
.flex-direction-nav li a.next span {
  background: url('light/slider-next.png') no-repeat scroll center center transparent;
}
.widget_woo_videos .widget_video {
  border-bottom: 1px solid #bfc5ca;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.widget_video {
  border: 1px solid #bfc5ca;
  border-width: 1px 1px 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.widget_video iframe {
  border: 1px solid #bfc5ca;
}
ul.widget-video-list {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #bfc5ca;
  border-width: 0 1px 1px;
}
.widget_shopping_cart ul.cart_list li,
.widget_shopping_cart ul.product_list_widget li {
  border: 1px solid #bfc5ca;
}
p.product {
  color: #7b9ebb;
}
body .widget_shopping_cart .total {
  border: 1px solid #bfc5ca;
}
p.buttons {
  border: 1px solid #bfc5ca;
}
body ul.cart_list li img,
body ul.product_list_widget li img {
  border: 1px solid #bfc5ca;
}
ul.products .product img {
  border: 1px solid #bfc5ca;
}
ul.products .product h3 a {
  color: #444444;
}
ul.products .product .price {
  color: #dddddd;
}
.single-product .images .thumbnails img {
  border: 1px solid #dbdee1;
}
.single-product .images .thumbnails img:hover {
  border: 1px solid #bfc5ca;
}
.single-product .summary .price {
  color: #538dbd;
}
.single-product .summary .single_variation_wrap .single_variation {
  background: #e5ebf0;
}
.single-product .woocommerce_tabs {
  border: 1px solid #bfc5ca;
}
.single-product .woocommerce_tabs ul.tabs li a {
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
  color: #fff;
  border: 1px solid #cdd2d6;
}
.single-product .woocommerce_tabs ul.tabs li a:hover {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
  border-color: #bfc5ca;
}
.single-product .woocommerce_tabs ul.tabs li.active a {
  background: #8cafcc;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#8cafcc), to(#6a8daa));
  background-image: url(images/noise.png), -webkit-linear-gradient(#8cafcc, #6a8daa);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #8cafcc 0%, #6a8daa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc,endColorstr=#6a8daa);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8cafcc, endColorstr=#6a8daa)";
  color: #fff;
}
.single-product #reviews #comments .commentlist li {
  background: #ebf0f4;
  border: 1px solid #dbdee1;
}
.onsale {
  padding: 4px 10px 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 0.9em;
  line-height: 1;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #7b9ebb;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  -o-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.woocommerce_message,
p.info,
li.info,
.woocommerce_error,
.woocommerce-error {
  border: 1px solid #bfc5ca;
}
.woocommerce_message {
  border-color: #bfc5ca;
  background-color: #020202;
  border: 1px solid #020202;
  color: #777777;
}
p.info,
li.info {
  border-color: #bfc5ca;
  background-color: #e5ebf0;
}
.woocommerce_error,
.woocommerce-error {
  background: #7b9ebb;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#7b9ebb), to(#4081af));
  background-image: url(images/noise.png), -webkit-linear-gradient(#7b9ebb, #4081af);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #7b9ebb 0%, #4081af 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #7b9ebb 0%, #4081af 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb,endColorstr=#4081af);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7b9ebb, endColorstr=#4081af)";
  color: #fff;
  border: 1px solid #cdd2d6;
}
table.cart td.product-name a {
  color: #777777;
}
table.cart dl.variation {
  color: #9d9d9d;
}
table.cart .product-quantity .input-text {
  border: 1px solid #bfc5ca;
}
.checkout ul.payment_methods .payment_box {
  background: #e5ebf0;
  border: 1px solid #bfc5ca;
}
.related.products h2 {
  text-shadow: 0px 1px 1px #020202;
}
.widget_login form input[type=text],
.widget_login form input[type=password] {
  border: 1px solid #000000;
  background: #0f0f0f;
}
.widget_login form input[type=text]:focus,
.widget_login form input[type=password]:focus {
  background: #a8a8a8;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border: 1px solid #000000;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background: #e5ebf0;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#e5ebf0), to(#c3c9ce));
  background-image: url(images/noise.png), -webkit-linear-gradient(#e5ebf0, #c3c9ce);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #e5ebf0 0%, #c3c9ce 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #e5ebf0 0%, #c3c9ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5ebf0,endColorstr=#c3c9ce);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e5ebf0, endColorstr=#c3c9ce)";
  box-shadow: inset 0 0 2px 0 #90969b;
  -webkit-box-shadow: inset 0 0 2px 0 #90969b;
  -moz-box-shadow: inset 0 0 2px 0 #90969b;
  -o-box-shadow: inset 0 0 2px 0 #90969b;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #000000;
  border: 1px solid #000000;
}
.widget_layered_nav li:hover {
  background: #1c1c1c;
  background-image: url(images/noise.png), -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(#0f0f0f));
  background-image: url(images/noise.png), -webkit-linear-gradient(#1c1c1c, #0f0f0f);
  background-image: url(images/noise.png), -moz-linear-gradient(center top, #1c1c1c 0%, #0f0f0f 100%);
  background-image: url(images/noise.png), -moz-gradient(center top, #1c1c1c 0%, #0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1c1c1c,endColorstr=#0f0f0f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1c1c1c, endColorstr=#0f0f0f)";
}
.widget_layered_nav li a,
.widget_layered_nav li .count {
  text-shadow: 1px 1px 0 #020202;
}
#customer_details .col-1 {
  border-right: 1px solid #bfc5ca;
}
.ie8 #main .widget.widget_recent_news li,
.ie8 #main .widget.widget_press_clippings li {
  margin: 0 10px 20px;
  width: 41%;
}
.ie8 #tabs ul.wooTabs li a {
  font-weight: normal;
}
.ie8 .flexslider .slides .slide,
.ie8 .widget_video,
.ie8 .widget.woo-audio-player,
.ie8 .widget .container,
.ie8 .rounded-border,
.ie8 .widget.widget_recent_news ul li,
.ie8 .widget.widget_press_clippings ul li,
.ie8 #header-wrap,
.ie8 #navigation .nav ul,
.ie8 .widget.widget_events ul li,
.ie8 table,
.ie8 #tabs .inside,
.ie8 #tabs ul.wooTabs li a.selected,
.ie8 #tabs ul.wooTabs li a:hover,
.ie8 .widget.widget_galleries ul li,
.ie8 .widget .woo-audio-player,
.ie8 .widget.widget_woo_twitter .back,
.ie8 .widget.widget_albums ul li,
.ie8 .widget_shopping_cart ul.cart_list li,
.ie8 .widget_shopping_cart ul.product_list_widget li,
.ie8 .searchform,
.ie8 .textwidget,
.ie8 .tagcloud,
.ie8 .post,
.ie8 .type-page,
.ie8 .type-band_member,
.ie8 .type-video,
.ie8 .type-product,
.ie8 .type-gallery,
.ie8 .type-album,
.ie8 .type-event,
.ie8 #contact-page,
.ie8 ul.products,
.ie8 tr.alt-table-row,
.ie8 ul.widget-video-list,
.ie8 p.buttons,
.ie8 body .widget_shopping_cart .total,
.ie8 #post-author,
.ie8 #comments .comment.thread-even,
.ie8 .widget ul,
.ie8 #navigation .nav ul {
  background: url(light/ie-lt-bg.png) repeat scroll 0 0 transparent;
}
