@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
#header .widget_product_search {
  clear: both;
}
#header .cart-contents:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f07a";
}
.star-rating {
  width: 80px;
  height: 1em;
  background: #ececec;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  clear: both;
}
.star-rating span {
  background: #9bbd35;
  height: 100%;
  overflow: hidden;
  float: left;
  text-indent: -999em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.star-rating span span {
  display: none;
}
p.stars {
  overflow: hidden;
  zoom: 1;
}
p.stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: #ececec;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}
p.stars span a:hover,
p.stars span a:focus {
  background: #9bbd35;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.active {
  background: #9bbd35;
  -webkit-border-radius: 3.631em;
  border-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.star-1 {
  width: 16px;
  z-index: 10;
  -webkit-border-top-left-radius: 3.631em;
  -webkit-border-bottom-left-radius: 3.631em;
  border-top-left-radius: 3.631em;
  border-bottom-left-radius: 3.631em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars span a.star-2 {
  width: 32px;
  z-index: 9;
}
p.stars span a.star-3 {
  width: 48px;
  z-index: 8;
}
p.stars span a.star-4 {
  width: 64px;
  z-index: 7;
}
p.stars span a.star-5 {
  width: 80px;
  z-index: 6;
}
.form-row label {
  display: block;
}
.widget .product_list_widget {
  list-style: none;
}
.widget .product_list_widget li {
  border-bottom: 1px dotted #ececec;
  margin: 0 0 1em;
  padding: 0 .53em 1em;
}
.widget .product_list_widget li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.widget .product_list_widget li img {
  width: 3.631em;
  height: auto;
  float: right;
  background: #fff;
  padding: .327em;
  box-shadow: 0 0 7px 0 #cacaca;
  -webkit-box-shadow: 0 0 7px 0 #cacaca;
}
.widget .product_list_widget li a {
  display: block;
  font-weight: bold;
}
.widget .product_list_widget li:last-child {
  margin: 0;
  border: none;
}
.widget .product_list_widget li .amount {
  color: #94b52e;
  font-size: 1em;
  font-weight: bold;
}
.widget .star-rating {
  width: 60px;
  height: .618em;
  clear: none;
}
.widget_layered_nav ul {
  list-style: none;
}
.widget_layered_nav ul li .count {
  float: right;
}
.widget_layered_nav ul li.chosen a {
  background: #9bbd35;
  color: #fff;
  font-weight: bold;
  padding: .382em .618em;
}
.widget_layered_nav ul li.chosen a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f00d";
  font-size: .875em;
}
.widget_product_categories ul {
  list-style: none;
}
.widget_product_categories ul li .count {
  float: right;
}
.widget_login form {
  margin: 0;
}
.widget_login label {
  display: block;
}
.widget_login input[type=text],
.widget_login input[type=password] {
  width: 100%;
}
.widget_login p {
  margin-bottom: .53em;
}
.widget_login p:nth-child(3) {
  margin: .857em 0 0;
}
.widget_login p:nth-child(3) a {
  text-transform: uppercase;
  margin-left: 1em;
  font-size: .857em;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  background: #fff;
  border: 1px solid #9bbd35;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #9bbd35;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ececec;
}
.widget_price_filter .ui-slider-horizontal {
  height: 1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 1em 1em 1em 2.618em;
  border: 1px solid #ececec;
  position: relative;
  margin-bottom: 1.618em;
  list-style: none;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.woocommerce_message:before,
.woocommerce_info:before,
.woocommerce_error:before,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  position: absolute;
  top: 1em;
  left: 1em;
}
.woocommerce_message .button,
.woocommerce_info .button,
.woocommerce_error .button,
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  float: right;
  font-size: .857em;
  margin-left: 1em;
}
.woocommerce_message:before,
.woocommerce-message:before {
  content: "\f05d";
  color: #89b93f;
}
.woocommerce_info,
.woocommerce-info {
  clear: both;
}
.woocommerce_info:before,
.woocommerce-info:before {
  content: "\f05a";
  color: #3c8bae;
}
.woocommerce_error:before,
.woocommerce-error:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.out-of-stock:before,
.stock.in-stock:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
}
.stock.out-of-stock:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.in-stock:before {
  content: "\f05d";
  color: #89b93f;
}
.onsale {
  display: block;
  width: 3.631em;
  padding: 1em 0;
  text-align: center;
  background: #7b6a8f;
  opacity: 0.7;
  filter: alpha(opacity=@opacity * 100);
  color: #fff;
  font-weight: bold;
  font-size: .857em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity {
  width: 3.9em;
  position: relative;
}
.quantity .qty {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 2.618em;
  height: 30px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .plus,
.quantity .minus {
  width: 1.618em;
  padding: 0;
  height: 18px;
  text-align: center;
  background: #9bbd35;
  position: absolute;
  right: 0;
  border: 0;
  color: #fff;
}
.quantity .plus {
  top: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .minus {
  bottom: 0;
  -webkit-border-top-right-radius: 0.327em;
  -webkit-border-bottom-right-radius: 0.327em;
  border-top-right-radius: 0.327em;
  border-bottom-right-radius: 0.327em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.products {
  list-style: none;
  position: relative;
}
ul.products:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
ul.products li.product {
  position: relative;
  width: 48%;
  float: left;
  clear: left;
  margin-bottom: 1.618em;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 10px 0 #e9e9e9;
  -webkit-box-shadow: 0 0 10px 0 #e9e9e9;
  -webkit-border-radius: 0.202em;
  border-radius: 0.202em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f9f9f9;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
ul.products li.product .button {
  opacity: 0;
  filter: alpha(opacity=@opacity * 100);
  display: none;
  margin: .326em 1em 1em;
}
ul.products li.product:hover {
  border: 1px solid #cdcdcd;
  box-shadow: 0 0 10px 0 #d3d3d3;
  -webkit-box-shadow: 0 0 10px 0 #d3d3d3;
}
ul.products li.product:hover .button {
  position: absolute;
  top: 50%;
  width: 80%;
  margin: 0 10%;
  display: block;
  height: auto;
  opacity: 1;
  filter: alpha(opacity=@opacity * 100);
}
ul.products li.product:hover .button.product_type_simple {
  width: 70%;
  margin: 0 15%;
}
ul.products li.product:nth-child(2n) {
  float: right;
  clear: none;
}
ul.products li.product img {
  background: #fff;
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 1em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
ul.products li.product .onsale {
  position: absolute;
  top: 1em;
  right: 1em;
}
ul.products li.product .button.loading:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
ul.products li.product .button.added:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  content: "\f00c";
}
ul.products li.product a {
  display: block;
}
ul.products li.product a:hover {
  text-decoration: none;
}
ul.products li.product a h3 {
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  font-size: 1em !important;
  margin: 0;
}
ul.products li.product a span.price {
  display: block;
  font-weight: bold;
}
ul.products li.product a .more-info {
  padding: .53em 1em;
  border-top: 1px solid #e2e2e2;
  background: #f9f9f9;
  box-shadow: inset 0 3px 3px 0 #f1f1f1;
  -webkit-box-shadow: inset 0 3px 3px 0 #f1f1f1;
}
.related h2,
.upsells h2 {
  margin-bottom: 1em;
}
.related ul.products li.product .onsale,
.upsells ul.products li.product .onsale {
  position: absolute;
  top: 1em;
  right: 1em;
  left: auto;
}
.pagination-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pagination-wrap .woo-pagination {
  width: 65.4%;
  float: left;
  text-align: left;
  padding: 0;
}
.pagination-wrap .woocommerce_ordering,
.pagination-wrap .woocommerce-ordering {
  width: 30.75%;
  float: right;
  text-align: right;
}
.pagination-wrap .woocommerce_ordering select,
.pagination-wrap .woocommerce-ordering select {
  width: 100%;
}
.single-product .summary {
  margin-bottom: 1.618em;
}
.single-product .product {
  position: relative;
}
.single-product .product .onsale {
  z-index: 9999;
  position: absolute;
  top: 1em;
  left: 1em;
}
.single-product .single_variation_wrap .price {
  display: block;
  font-size: 2.224em;
  color: #4e4e4e;
}
.single-product .quantity {
  float: left;
  margin: 0 1em 0 0;
}
.single-product .images img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  box-shadow: 0 0 10px 0 #e9e9e9;
  -webkit-box-shadow: 0 0 10px 0 #e9e9e9;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 0.202em;
  border-radius: 0.202em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.single-product .thumbnails a {
  display: block;
  width: 30.75%;
  margin-right: 3.8%;
  float: left;
}
.single-product .thumbnails a.last {
  margin-right: 0;
}
.single-product .woocommerce_tabs,
.single-product .woocommerce-tabs {
  margin: 0 0 2.244em;
  border: 1px solid #d5d5d5;
  box-shadow: 0 0 10px 0 #e9e9e9;
  -webkit-box-shadow: 0 0 10px 0 #e9e9e9;
  -webkit-border-radius: 0.202em;
  border-radius: 0.202em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.single-product .woocommerce_tabs .tabs,
.single-product .woocommerce-tabs .tabs {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
  /* IE10 */

  background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
  border-bottom: 1px solid #d5d5d5;
}
.single-product .woocommerce_tabs .tabs li,
.single-product .woocommerce-tabs .tabs li {
  border-right: 1px solid #d5d5d5;
}
.single-product .woocommerce_tabs .tabs li a,
.single-product .woocommerce-tabs .tabs li a {
  font-size: .857em;
  padding: .857em 1em !important;
  color: #333333;
  font-weight: bold;
}
.single-product .woocommerce_tabs .panel,
.single-product .woocommerce-tabs .panel {
  padding: 0 2em;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.single-product #reviews #comments h2 {
  border-bottom: 1px solid #ececec;
  padding: 0 0 .857em;
}
.single-product #reviews #comments .star-rating {
  position: absolute;
  right: 0;
  top: .618em;
}
.single-product #reviews #comments ol.commentlist {
  margin: 0 0 1.618em;
}
.single-product #reviews #comments ol.commentlist li:first-child {
  padding: 0;
}
.single-product #reviews #comments .comment_container {
  border-bottom: 1px solid #EEE;
  padding: 1em 0;
  margin: 0;
}
.single-product #reviews #comments .avatar {
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 1.618em 0 0;
}
.single-product #reviews #comments .comment-text .star-rating {
  top: 2.244em;
  right: 0;
}
.shipping_calculator h2 {
  font-size: 1.387em;
}
.shipping_calculator h2 a {
  display: block;
}
.shipping_calculator h2 a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: '\f0ac';
}
.shipping_calculator h2 a:hover {
  text-decoration: none;
}
a.reset_variations {
  display: block;
}
a.reset_variations:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f021";
}
.order_details {
  list-style: none;
  border: 1px solid #ececec;
  position: relative;
  margin-left: 0 !important;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.order_details:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.order_details li {
  float: left;
  padding: 1em 1.618em;
  border-right: 1px solid #ececec;
  font-size: .8em;
  text-transform: uppercase;
  color: #d6d6d6;
}
.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
  color: #818181;
}
ul.digital-downloads li {
  list-style: none;
  margin-bottom: .618em;
  padding-bottom: .618em;
  border-bottom: 1px solid #ececec;
}
ul.digital-downloads li .count {
  float: right;
}
ul.digital-downloads li a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f01a";
}
ul.digital-downloads li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.backorder_notification {
  font-size: .857em;
}
.backorder_notification:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  content: "\f071";
}
dl.variation {
  font-size: .857em;
}
dl.variation:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
dl.variation dt {
  float: left;
  clear: left;
  margin-right: .236em;
}
dl.variation dd {
  margin-bottom: 0;
}
table.cart .actions {
  text-align: right;
}
table.cart .actions .coupon {
  margin-bottom: 1em;
}
table.cart .actions .coupon:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
table.cart .actions .coupon .button {
  margin-top: .53em !important;
}
table.cart .actions .coupon label {
  display: none;
}
table.cart .actions .coupon .input-text {
  width: 48%;
  float: left;
}
table.cart .actions .coupon .button {
  padding: .382em 1em;
  width: 48%;
  float: right;
}
table.cart .actions .button {
  margin: 0 0 .618em;
  padding: .382em 1em;
  width: 48%;
  float: left;
}
table.cart .actions .checkout-button {
  float: right;
}
table.cart .product-thumbnail img {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
}
.create-account {
  clear: both;
}
#reviews .comment {
  padding: 1em 0 0;
  position: relative;
}
#reviews .comment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#reviews .comment .comment_container {
  margin: 0 1em;
}
#reviews .comment img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#reviews .comment .meta {
  margin: 0 .382em .618em;
  font-weight: normal;
  font-style: italic;
  color: #b4b4b4;
}
#reviews .comment .star-rating {
  margin: 0;
  position: absolute;
  top: 18px;
  right: 20px;
}
#reviews .add_review {
  clear: both;
}
#shipping_method {
  list-style: none;
  margin-left: 0;
}
#payment {
  border: 1px solid #ececec;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#payment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#payment .create-account {
  clear: both;
}
#payment .payment_methods {
  margin: 0 !important;
  border-bottom: 1px solid #ececec;
  padding: 0 !important;
}
#payment .payment_methods li {
  list-style: none !important;
  padding: 1em !important;
  border-bottom: 1px solid #ececec;
  margin-left: 0;
}
#payment .payment_methods li img {
  float: right;
  border: 0;
  padding: 0;
}
#payment .payment_methods li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#payment .payment_methods li label {
  width: 92%;
  padding-top: 0 !important;
  margin-left: .618em;
  font-weight: bold;
}
#payment .payment_methods li p {
  margin-bottom: 0;
}
#payment .payment_methods li .payment_box {
  padding: 1em;
  margin: 1em -1em -1em -1em;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #fafafa, #f6f6f6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #fafafa, #f6f6f6);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #fafafa, #f6f6f6);
  /* IE10 */

  background-image: -o-linear-gradient(top, #fafafa, #f6f6f6);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #fafafa, #f6f6f6);
  border-top: 1px solid #ececec;
}
#payment .payment_methods li .payment_box fieldset {
  border: 0;
  margin: 0;
  padding: 1em 0 0 0;
  font-size: .857em;
}
#payment .payment_methods li .payment_box fieldset label {
  width: auto;
  margin-left: 0;
}
#payment .payment_methods li .payment_box fieldset .form-row {
  margin-bottom: 1em;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select {
  width: 48%;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float: right;
}
#payment .payment_methods li .payment_box fieldset #cvv {
  width: 22% !important;
}
#payment .payment_methods li .payment_box fieldset .help {
  width: 75%;
  float: right;
}
#payment .terms label {
  display: inline;
}
#payment .place-order {
  padding: 1em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#payment .place-order .button {
  font-size: 1.387em;
  width: 100%;
}
.woocommerce-account .entry .clear {
  clear: both;
}
@media only screen and (min-width: 768px) {
  #header .widget_product_search {
    float: right;
    clear: none;
  }
  #header ul.cart {
    float: right;
  }
  .col2-set {
    clear: both;
  }
  .col2-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .col2-set .col-1 {
    width: 48%;
    float: left;
  }
  .col2-set .col-2 {
    width: 48%;
    float: right;
  }
  .form-row {
    width: 48%;
    float: left;
    margin-bottom: 2.053em;
  }
  .form-row label {
    display: block;
    padding: .236em 0;
  }
  .form-row label.checkbox {
    display: inline;
  }
  .form-row .input-text,
  .form-row select {
    width: 100%;
    *width: 90%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    /* Opera/IE 8+ */
  
  }
  .form-row.notes {
    width: 100%;
    float: none;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row.notes + h3 {
    clear: both;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
  header.title {
    overflow: hidden;
    zoom: 1;
  }
  header.title h1,
  header.title h2,
  header.title h3,
  header.title h4,
  header.title h5 {
    float: left;
  }
  header.title a.edit {
    float: right;
    font-weight: bold;
    line-height: 2.4em;
  }
  header.title a.edit:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    content: "\f044";
  }
  ul.products li.product {
    margin-right: 3.8%;
    clear: none;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
    clear: both;
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
  .woocommerce-columns-3 ul.products li.product {
    width: 30.75%;
  }
  .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
  }
  .woocommerce-columns-5 ul.products li.product {
    width: 16.96%;
  }
  .single-product h1 {
    margin: 0;
  }
  .single-product .images,
  .single-product .summary {
    width: 48%;
  }
  .single-product .images {
    float: left;
  }
  .single-product .summary {
    float: right;
    width: 45%;
  }
  .single-product .summary .price {
    margin: 0 0 .857em;
    font-size: 1.618em;
    font-weight: bold;
    color: #94b52e;
  }
  .single-product .summary .single_add_to_cart_button {
    background: #94b52e;
  }
  .single-product .woocommerce_tabs .tabs li a,
  .single-product .woocommerce-tabs .tabs li a {
    font-size: 1em;
    padding: .857em 1.618em !important;
  }
  table.cart .actions .button {
    width: auto;
    float: none;
  }
  table.cart .actions .coupon {
    width: 48%;
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
  table.cart .actions .coupon .input-text,
  table.cart .actions .coupon .button {
    width: auto;
    float: none;
  }
  .cart-collaterals:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .cross-sells,
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    width: 48%;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    float: right;
    clear: right;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .shipping_calculator .clear {
    clear: both;
  }
  #customer_details .col-1,
  #customer_details .col-2 {
    float: none;
    width: 100%;
  }
  #customer_details .col-1:after,
  #customer_details .col-2:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #customer_details #shiptobilling {
    float: none;
    width: 100%;
  }
  #customer_details .notes {
    clear: both;
  }
}
