#icon-edit.icon32-posts-gallery, #icon-post.icon32.posts-gallery, body.edit-tags-php #icon-edit { background: transparent url(../images/icon_32.png) no-repeat 5px 2px; }

#woo-gallery .gallery-thumbnail { margin: 5px 5px 0; border: 3px solid #DEDEDE; padding: 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; cursor: pointer; }
#woo-gallery .hide { display: none; }
#woo-gallery .gallery-thumbnail.selected, #woo-gallery .gallery-thumbnail:hover { border: 3px solid #888888; }
#woo-gallery .refresh-container { margin-left: 8px; }

.woo-manage-buttons { margin-top: 1.3em; }
.woo-manage-buttons .button { margin-right: 5px; }
.woo-manage-buttons .refresh, .woo-manage-buttons .select-all, .woo-manage-buttons .clear-all { margin-left: 5px; }
.thumbnails .alignleft { float: none; display: inline; }