/* Imports */
/* Body */
body {
  color: #9e9e9e;
  background: #4e5b68;
}
/* General Links */
a {
  color: #95acc4;
}
a:hover {
  color: #738aa2;
}
/* Main Wrapper */
#content {
  background: none;
}
#content-top {
  background: #eef6ff;
}
#wrapper {
  background: #eef6ff;
}
/* Sub-Feature */
#sub-feature {
  background: #556270;
  border-bottom: 1px solid #eef6ff;
  box-shadow: 0 1px 0 0 #eef6ff;
  -webkit-box-shadow: 0 1px 0 0 #eef6ff;
  color: #d7dee4;
}
#sub-feature #social h3 {
  color: #ffffff;
}
#sub-feature #features ul li h2 a {
  color: #ffffff;
}
#sub-feature #features ul li a.read-more {
  background-color: #6c8295;
}
#sub-feature #features ul li a.read-more:hover {
  background-color: #394f62;
}
/* Footer */
#footer {
  background: #4e5b68;
}
/* Footer Widgets */
#footer-widgets-container {
  background: #556270;
  border-top: 1px solid #eef6ff;
}
#footer-widgets-container #footer-widgets .widget {
  color: #d7dee4;
  background: none;
}
#footer-widgets-container #footer-widgets .widget a {
  color: #d7dee4;
}
#footer-widgets-container #footer-widgets .widget h3 {
  color: #ffffff;
}
/* Homepage Section Title */
.section-title p:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #d9eaff;
  box-shadow: 0 1px 0 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  z-index: -999;
}
.section-title p span {
  background: #eef6ff;
}
/* Home Widgets */
#home-widgets .block a {
  color: #95acc4;
}
/* Global Widgets */
.widget h3 {
  color: #95acc4;
}
/* Dojo Tabs */
.widget_woodojo_tabs .nav li a {
  color: #95acc4;
}
.widget_woodojo_tabs .nav li.active a {
  color: #95acc4 !important;
}
.widget_woodojo_tabs .tab-content ul {
  padding: 0 !important;
}
.widget_woodojo_tabs .tab-content ul li a {
  color: #95acc4;
}
/* News From Blog Widget */
.widget_woo_newsfromblog h3 {
  color: #9e9e9e;
}
.widget_woo_newsfromblog h3:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #d9eaff;
  box-shadow: 0 1px 0 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  z-index: -999;
}
.widget_woo_newsfromblog h3 span {
  background: #eef6ff;
}
.widget_woo_newsfromblog .section-blog ul li .post-more a {
  color: #95acc4;
}
.widget_woo_newsfromblog .flexslider-nav-container ul {
  background: #eef6ff;
}
.widget_woo_newsfromblog .flexslider-nav-container:before {
  content: '';
  width: 100%;
  height: 1px;
  background: #d9eaff;
  box-shadow: 0 1px 0 0 #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  display: block;
  position: absolute;
  top: 49%;
  z-index: -999;
}
/* Post Meta Badge */
.post .post-meta .post-comments a,
.type-page .post-meta .post-comments a,
.type-features .post-meta .post-comments a,
.search-results .features .post-meta .post-comments a,
.search-results .page .post-meta .post-comments a,
.search-results .type-product .post-meta .post-comments a,
.search-results .type-portfolio .post-meta .post-comments a {
  background: #6c8295;
}
.post .post-meta .post-comments a:hover,
.type-page .post-meta .post-comments a:hover,
.type-features .post-meta .post-comments a:hover,
.search-results .features .post-meta .post-comments a:hover,
.search-results .page .post-meta .post-comments a:hover,
.search-results .type-product .post-meta .post-comments a:hover,
.search-results .type-portfolio .post-meta .post-comments a:hover {
  background-color: #394f62;
}
/* Comments Respond */
#respond {
  background: #f8fbff;
  border-color: #d8dde3;
}
#respond label {
  color: #b8b8b8;
}
#respond #reply-title {
  color: #7f848a;
}
#respond #commentform label {
  color: #7f848a;
}
/* Portfolio */
#portfolio-gallery #port-tags a {
  background: #6c8295;
}
#portfolio-gallery #port-tags a:before {
  border-color: transparent #6c8295 transparent transparent;
}
/* Buttons */
a.button,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  background: #6c8295;
}
a.button:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #6c8295;
}
